@model Item

@{
    ViewData["Title"] = " | Item Details";
}

<h1>Item Details</h1>

<table class="table table-bordered table-sm">
    <thead>
        <tr class="thead-dark">
            <th>Title:</th><th>@Model.Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@(Model.ItemVendors.Count > 1 ? "Vendors" : "Vendor")</td>
            <td>
                @foreach (ItemVendor iv in Model.ItemVendors) {
                    <p><a asp-action="Details" asp-controller="Vendor"
                        asp-route-id="@iv.VendorId"
                        asp-route-slug="@iv.Vendor.Name">
                        @iv.Vendor.Name
                    </a></p>
                }
            </td>
        </tr>
        <tr><td>Price:</td><td>@Model.Price.ToString("c")</td></tr>
        <tr><td>Category:</td><td>@Model.Category.Name</td></tr>
    </tbody>
</table>

<form asp-action="Add" asp-controller="Cart" method="post">
    <button type="submit" name="id" value="@Model.Id"
        class="btn btn-primary">Add To Cart</button>
</form>