@model ItemListViewModel

@{
    ViewData["Name"] = " | Item Catalog";

    // aliases to make paging, sorting, and filtering code shorter
    RouteDictionary current = Model.CurrentRoute;
    RouteDictionary routes = Model.CurrentRoute.Clone();
}

<h1>Item Catalog</h1>

@* filter form *@
<form asp-action="Filter" method="post" class="form-inline">
    <label>Vendor: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Vendors, "Id", "Name", current.VendorFilter))">
        <option value="@ItemsGridDTO.DefaultFilter">All</option>
    </select>

    <label>Category: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Categories, "Id", "Name", current.CategoryFilter))">
        <option value="@ItemsGridDTO.DefaultFilter">All</option>
    </select>

    <label>Price: </label>
    <select name="filter" class="form-control m-2"
            asp-items="@(new SelectList(
            Model.Prices, "Key", "Value", current.PriceFilter))">
        <option value="@ItemsGridDTO.DefaultFilter">All</option>
    </select>

    <button type="submit" class="btn btn-primary mr-2">Filter</button>
    <button type="submit" class="btn btn-primary"
            name="clear" value="true">
        Clear
    </button>
</form>

@* add to cart form *@
<form asp-action="Add" asp-controller="Cart" method="post">
    <table class="table table-bordered table-striped table-sm">
        @* for each table column, update the route dictionary with the field to sort by, and then use
            that route dictionary and the current route to create route segments for sorting link *@
        <thead class="thead-dark">
            <tr>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Item.Name), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Name</a>
                </th>
                <th>
                    Vendor(s)
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Category), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Category</a>
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Item.Price), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Price</a>
                </th>
                <th>
                    @{ routes.SetSortAndDirection(nameof(Item.Qty), current); }
                    <a asp-action="List" asp-all-route-data="@routes"
                       class="text-white">Qty</a>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item Item in Model.Items)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@Item.Id"
                           asp-route-slug="@Item.Name">
                            @Item.Name
                        </a>
                    </td>
                    <td>
                        @foreach (var v in Item.ItemVendors)
                        {
                            <p>
                                <a asp-action="Details" asp-controller="Vendor"
                                   asp-route-id="@v.Vendor.Id"
                                   asp-route-slug="@v.Vendor.Name">
                                    @v.Vendor.Name
                                </a>
                            </p>
                        }
                    </td>
                    <td>@Item.Category?.Name</td>
                    <td>@Item.Price.ToString("c")</td>
                    <td>@Item.Qty</td>
                    <td>
                        @{
                            if(User.IsInRole("Admin") || User.IsInRole("Manager")){
                            <button type="submit" name="id" value="@Item.Id"
                                class="btn btn-primary">
                            Add To Cart
                             </button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

@* paging links *@
@{
    @* Reset the route dictionary to the current route values. This is necessary
        to clear the changes made while creating the sorting links above. Clone so
        don't overwrite current route segment values. *@
    routes = Model.CurrentRoute.Clone();

    @* update route dictionary with page number in 'i' and then use
        updated route dictionary to create route segments for paging link.*@
    for (int i = 1; i <= Model.TotalPages; i++)
    {
        routes.PageNumber = i;
        <a asp-action="List" asp-all-route-data="@routes"
           class="btn btn-outline-primary @Nav.Active(i, current.PageNumber)">@i</a>
    }
}
